---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title='Contacto'>
<form id="contact-form">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" required>
  
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
  
    <label for="message">Mensaje:</label>
    <textarea id="message" name="message"></textarea>
  
    <button type="submit">Enviar</button>
  </form>
    <div class="message"></div>
    
  <script>
(async function() {
  const emailjs = await import('@emailjs/browser');
  // Inicializamos EmailJS con tu USER_ID
  emailjs.init("AV_yRjr0XutIzL3WB");
  const form = document.getElementById('contact-form') as HTMLFormElement;
  const message = document.querySelector('.message');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    // Enviamos el formulario usando EmailJS
    emailjs.sendForm('service_t877xyv', 'template_exqpd89', this)
      .then(function() {
        console.log('Email enviado exitosamente!');
        message.innerHTML = "Mensaje enviado con éxito.";
      }, function(error) {
        console.log('Error al enviar el email: ', error);
        message.innerHTML = "Hubo un error en el envío.";
      });
  });
})();
  </script>
 </MainLayout>