---
import MainLayout from "../layouts/MainLayout.astro";
const href = Astro.url.href; 
---

<MainLayout title='Crear Post' description="Crear un nuevo Post">
	<section>
<h1>Crear un nuevo Post</h1>

</section>
</MainLayout> 
