---
import MainLayout from "../layouts/MainLayout.astro";
const href = Astro.url.href;
---

<MainLayout title="Crear Post" description="Crear un nuevo Post">
  <section>
    <h1>Crear un nuevo Post</h1>
    <form id="formulario-entrada">
      <label for="titulo">Título:</label>
      <input type="text" id="titulo" name="titulo" required />

      <label for="contenido">Contenido:</label>
      <textarea id="contenido" name="contenido" rows="5" required></textarea>
      <div id="post-message"></div>
      <button type="submit" id="js-add-post">Crar Post</button>
    </form>
  </section>
</MainLayout>

<script>
  const PUBLIC_WORDPRESS_URL = import.meta.env.PUBLIC_WORDPRESS_URL;
  const WORDPRESS_USER = import.meta.env.PUBLIC_WORDPRESS_USER;
  const WORDPRESS_PASS = import.meta.env.PUBLIC_WORDPRESS_PASS;
  const postMessageContainer = document.getElementById("post-message");

  const form = document.getElementById("formulario-entrada");
  form.addEventListener("submit", async (event) => {
    event.preventDefault(); // Prevent default form submission

    try {
      const response = await fetch(
        `${PUBLIC_WORDPRESS_URL}/wp-json/wp/v2/posts`,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            accept: "application/json",
            Authorization: `Bearer ${localStorage.getItem("jwt")}`,
          },
          body: JSON.stringify({
            title: (document.querySelector("#titulo") as HTMLInputElement)
              .value,
            content: (
              document.querySelector("#contenido") as HTMLTextAreaElement
            ).value,
            status: "publish",
          }),
        }
      );

      if (response.ok) {
        const post = await response.json();
        postMessageContainer.textContent = "Post creado exitosamente!";
        //showAlert("success", "Post creado exitosamente!"); // Display a success alert (optional)
      } else {
        const error = await response.text();
        // Customize error message based on response
        postMessageContainer.textContent = error.includes(
          "Authentication failed"
        )
          ? "Debe estar registrado para crear un post"
          : `Error al crear el post`;
        // showAlert("error", `Error al crear el post: ${error}`); // Display an error alert (optional)
      }
    } catch (error) {
      postMessageContainer.textContent = `Error inesperado: ${error}`;
      //showAlert("error", `Error inesperado: ${error}`); // Display an error alert (optional)
    }
  });
</script>
