---

---

<form id="myForm">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" >
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" >
    <input type="submit" value="Enviar" class="btn-send">
</form>

<script>
import { resendTemplate } from "../components/ResendTemplate";

const myForm = document.getElementById('myForm') as HTMLFormElement;
myForm.addEventListener("submit", async(e)=>{
    e.preventDefault()
    // Obtener los valores de los campos
    const name = (document.getElementById('name') as HTMLInputElement).value;
    const email = (document.getElementById('email') as HTMLInputElement).value;

    const res = await fetch("/api/resendEmailJson", {
        method:"POST",
        headers: {
            "Content-Type" : "application/json",
        },
        body : JSON.stringify({
            from:"d3code-<onboarding@resend.dev>",
            to:"robertostringa@gmail.com",
            reply_to:`${email}`,
            subject:"Astro Wordpress Test",
            html:resendTemplate(email, name),
            text:"Formato de texto",
        }),
    });
    const data = await res.json();
    
})

</script>