---
const { data } = Astro.props;
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" ></script>


<div class="swiper">
  <div class="swiper-wrapper">
    {
      data.item.map((slide) => (
        <div
          class="swiper-slide"
          style={`background: url('${slide.imagen.sourceUrl}') no-repeat center; background-size:cover`}
        >
          <h2>{slide.titulo}</h2>
        </div>
      ))
    }
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<style>

.swiper {
  width: 600px;
  height: 300px;
}

</style>



<script is:inline>
    window.addEventListener("DOMContentLoaded", function () {
      const swiper = new Swiper(".swiper", {
        // Optional parameters
      //   direction: "vertical",
        loop: true,
  
        // If we need pagination
        pagination: {
          el: ".swiper-pagination",
        },
  
        // Navigation arrows
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
  
        // And if we need scrollbar
        scrollbar: {
          el: ".swiper-scrollbar",
        },
      });
    });
  </script>
  