---
const { pageId } = Astro.props
import "../acf/flexible.css"
import ComponentFlexible1 from "../acf/componentFlexible1.astro" 
import ComponentFlexible2 from "../acf/componentFlexible2.astro" 
---
<script>
  
  
const PUBLIC_WORDPRESS_API_URL = import.meta.env.PUBLIC_WORDPRESS_API_URL;
const pageId = document
    .querySelector(".flexible-content")
    .getAttribute("data-page-id");
const flexibleDiv = document.querySelector(".flexible-content-3");
let outputHTML = [];

async function FlexibleACF() {
  const FlexibleACF = await fetch(`${PUBLIC_WORDPRESS_API_URL}`, {
    method: "post",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: `{
        page(id: "${pageId}", idType: DATABASE_ID) {
          homeFlexible {
            flexible {
              ... on Page_Homeflexible_Flexible_Contenido1 {
                texto
                imagen {
                  sourceUrl
                }
                fieldGroupName
              }
              ... on Page_Homeflexible_Flexible_Contenido2 {
                texto
                titulo
                fotos {
                  sourceUrl
                }
                fieldGroupName
              }
            }
          }
        }
      }
            `,
    }),
  });
  const { data } = await FlexibleACF.json();
  return data;
}

async function renderContent() {
    const data = await FlexibleACF();
for (const flexibleGroup of data.page.homeFlexible.flexible) {

  switch (flexibleGroup.fieldGroupName) {
    case "Page_Homeflexible_Flexible_Contenido1":
 
      outputHTML.push("<ComponentFlexible1/>")
      break;

    case "Page_Homeflexible_Flexible_Contenido2":

      outputHTML.push("<ComponentFlexible2/>")
      break;

    default:
      break;
  }
}


outputHTML.map((item) => {
  return flexibleDiv.innerHTML += item;
})

}
renderContent()
</script>


<div class="flexible-content-3" data-page-id={pageId}> 


</div>
